*{margin:0;padding:0;}
body{font-family:ו;font-size:14px;}
img{border:0;}
ul li{list-style:none;}
#page{width:1128px;height:100%;margin:0 auto;overflow:hidden;}
#logo{margin-bottom:60px;}
#logimg{width: 200px}
#left{width:auto;position:fixed;left:50px;margin-top: 30px;left: 0px;text-align: left;}
#content{width:1128px;height:100%;margin-bottom:50px;margin-top: 100px;margin-left: 200px}
.leftimg{padding-top:5px;}
.img{width:650px;top:0px;left:0px;min-height: 300px }
a{text-decoration:none;height: 20px}
.clickedMenu a{color: rgb(220,220,220);text-decoration:none;font-size: 14px;}
.clickedMenu a:hover{text-decoration:none;color: rgb(0,0,0);}
.clickedMenu{display:block;margin-top: 8px;}

.menu a{color: rgb(0,0,0);text-decoration:none;font-size: 14px;}
.menu a:hover{text-decoration:none;color: rgb(220,220,220);}
.menu{display:block;margin-top: 8px;}
