*{margin:0;padding:0;}
body{font-family:ו;font-size:14px;background:rgb(255,255,255);}
img{border:0;}
ul li{list-style:none;}
#page{width:1128px;height:100%;margin:0 auto;}
#logo{margin-bottom:60px;}
#logimg{width: 200px}
#left{width:200px;position:fixed;left:50px;margin-top: 30px}
.logo_text{font-size: 30px;color: rgb(40,40,40);font-family: serif;}
#menu_text{margin-top: 10px;font-weight: 900;font-size: 14px;}
#content{width:1128px;height:100%;margin-bottom:50px;top: 70px}
.leftimg{padding-top:5px;}
.img{width:950px;margin-left:250px;top:0px;left:0px;min-height: 500px }
a{color: rgb(100,100,100);text-decoration:none;}
a:hover{text-decoration:none;color: rgb(220,220,220);;}
